@model IEnumerable<BussinessLayer.Employee>

@{
    ViewBag.Title = "Index";
}


<div style="font-family:Arial">
    <br />
    <p>
        <input type='button' class="btn btn-success" value='Create User' onclick='window.location = "@Url.Action("Create", "Employee")";' />
    </p>
    @using (Html.BeginForm())
    {
        <p>
            Find by name and city: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.EmployeeName)*@
                @Html.ActionLink("Employee Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeCity)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.EmpDepartmentID)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DepartmentID)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            using (Html.BeginForm("Delete", "Employee", new { id = item.EmployeeID }))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeAge)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeGender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeCity)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.EmpDepartmentID)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentID)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit","Employee",new { id=item.EmployeeID })" class="btn btn-primary">Edit</a>
                        <a href="@Url.Action("Delete","Employee",new { id=item.EmployeeID })" class="btn btn-danger">Delete</a>

                        @*@Html.ActionLink("Details", "Details", new { id = item.EmployeeID }) |*@
                        @*<input type="submit" value="Delete" onclick="return confirm('Are You Sure Want to Delete this ID = @item.EmployeeID')" />*@
                        @*<a onclick="Delete(@item.EmployeeID)" class="btn btn-danger">Delete</a>*@
                    </td>
                </tr>
            }
        }

    </table>
</div>


@section scripts{
    <script>
       function Delete(id) {
            alertify.confirm('Web API', 'Are you sure want to delete this record?', function () {
                window.location.href = '@Url.Action("Delete", "Employee")/' + id;
            }, null);
        }
    </script>
    }
